@import "./common/index";
@import "./base/index";
@import "./content/index";

.chromeperfectpixel-overlay-container {
  top: 0 !important;
}

.chromeperfectpixel-overlay {
  width: 100% !important;
  height: auto !important;
}
