.blogs {
  background-color: #faf9f9;
  &__header {
    height: 108.5px;
    text-align: center;
    margin-top: 124px;
    .title {
      transform: translateY(-75%);
      font-size: 56px;
      font-family: "CormorantGaramond";
      color: rgb(51, 51, 51);
      font-weight: bold;
      line-height: 0.5;
    }
  }
}

.blog-item {
  background-color: white;
  img.thumb {
    width: 100%;
  }
  &__padding-line {
    padding: 0 28px;
  }
  &__padding {
    padding: 0 38px 0 33px;
  }
  &__date {
    font-size: 14px;
    font-family: "FiraSans";
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    line-height: 1.714;
    margin-top: 24px;
    letter-spacing: 0.1em;
  }
  &__title {
    height: 115px;
    font-size: 24px;
    margin-top: 19px;
    font-family: "CormorantGaramond";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 32px;
    text-align: left;
    letter-spacing: 0.05em;
    span {
      @include line-clamp(2);
    }
  }
  &__share {
    display: flex;
    font-size: 14px;
    font-family: "FiraSans";
    padding-top: 18px;
    padding-bottom: 23px;
    color: rgb(105, 105, 105);
    .share-item {
      &:not(:last-of-type) {
        margin-right: 28px;
      }
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 10.5px;
      }
    }
  }
}

.blogs-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 197px;
  .blogs-btn {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    width: 143px;
    height: 16px;
    text-decoration: none;
    margin-bottom: 22px;
    span {
      margin-top: -13px;
      margin-left: -5px;
      display: block;
      font-size: 24px;
      letter-spacing: 1;
      font-family: "CormorantGaramond";
      color: rgb(51, 51, 51);
      line-height: 28px;
      text-align: center;
    }
    // .Go_to_blog {

    // }
    // .Rectangle_5 {

    // }
  }
}
