.feature-products {
  &__heading {
    display: flex;
    height: 250px;
    padding-top: 57px;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 56px;
      font-family: "CormorantGaramond-Bold";
      color: rgb(51, 51, 51);
      font-weight: bold;
      line-height: 0.5;
    }
    .view-more {
      font-size: 14px;
      margin-right: 9px;
      letter-spacing: 0.13em;
      margin-bottom: -29.5px;
      font-family: "FiraSans-Bold";
      color: rgb(51, 51, 51);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.714;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 12px;
        background: url("images/icons/view-more.png") no-repeat 0 0;
      }
    }
  }
  // &__body {
  // }
}

.product-item {
  img.product-thumb {
    width: 100%;
  }
  &__image-container {
    position: relative;
    // next and prev
    .next,
    .prev {
      position: absolute;
      top: 42.5%;
      transition: all 0.3s;
      left: 0;
      opacity: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      background: url("images/icons/prev.png") no-repeat 0 0;
      background-position: center;
      &.disabled {
        pointer-events: none;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
      }
    }
    .next {
      left: auto;
      right: 0px;
      background: url("images/icons/next.png") no-repeat 0 0;
      background-position: center;
    }

    &:hover .next,
    &:hover .prev {
      opacity: 1;
    }
    &:hover .next.disabled,
    &:hover .prev.disabled {
      opacity: 0.3;
    }

    // add to card container
    .add-to-card-container {
      opacity: 0;
      transition: all 0.3s;
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      .add-to-card {
        // layout
        text-decoration: none;
        flex: 1;
        height: 40px;
        display: flex;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        background-color: rgb(214, 186, 141);
        // content
        span {
          @include line-clamp(1);
          font-size: 14px;
          letter-spacing: 0.1em;
          font-family: "FiraSans-Bold";
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .other-icon {
        height: 40px;
        width: 40px;
        background-color: rgb(51, 51, 51);
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
      }
    }

    &:hover .add-to-card-container {
      opacity: 1;
    }
  }

  &__text {
    height: 61px;
    .name {
      @include line-clamp(1);
      padding-top: 16px;
      font-size: 14px;
      font-family: "FiraSans";
      color: rgb(51, 51, 51);
      letter-spacing: 0.05em;
      text-align: center;
    }
    .price {
      padding-top: 7px;
      font-size: 18px;
      font-family: "CormorantGaramond-Bold";
      color: rgb(214, 186, 141);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-align: center;
    }
  }
}
