.slider {
  background: url("images/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  // fix hover to social, a line will appear
  overflow: hidden;
  .container-big {
    overflow: visible;
  }
}

.slider-content {
  max-width: 1460px;
  margin-left: auto;
  padding-left: 15px;
  padding-bottom: 40px;
  min-height: 100vh;
  padding-top: 250px;
  @include at-xxl {
    min-height: 1000px;
    padding-top: 342px;
  }
  &__group-1 {
    display: flex;
    justify-content: space-between;

    .slider-heading {
      .slider-date {
        font-size: 24.339px;
        font-family: "FiraSans";
        letter-spacing: 0.5em;
        color: dimgray;
        line-height: 1.333;
        // top: 372.044px;
      }
      .slider-slogan {
        font-size: 80px;
        @include at-xxl {
          font-size: 100px;
        }
        font-family: "CormorantGaramond-SemiBoldItalic";
        color: #333;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        line-height: 100px;
        text-align: left;
        letter-spacing: 0.3em;
        margin-top: calc(75px - 42px);
      }
    }

    .slider-socials {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      .social-item {
        list-style: none;
        a {
          font-size: 24px;
          font-family: "CormorantGaramond-Medium";
          color: rgb(255, 255, 255);
          line-height: 1.667;
          text-align: right;
          letter-spacing: 0.1em;
          text-decoration: none;
          color: #dddddd;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: flex-end;
          transition: all 0.3s;
        }
        a:after {
          content: "";
          border-bottom: 2px solid #535353;
          width: 150px;
          height: 1px;
          margin-left: 20px;
          margin-right: calc(-150px - 20px);
          opacity: 0;
          transition: all 0.4s;
          transform: translateX(100%);
        }
        a:hover {
          color: #feffff;
        }
        a:hover:after {
          color: #e7e7e7;
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }

  .slider-btn-layout {
    margin-top: 53px;
  }
}
