.footer {
  background-color: #333333;
  &__group-1 {
    display: flex;
    padding: 15px 0;
    min-height: 250px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    & > *:not(:last-child) {
      margin-right: 30px;
    }
    .logo-container {
      margin-bottom: 15px;
      flex: 1;
      @include at-lg {
        margin-top: 7px;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0px;
      @include at-lg {
        margin-top: 75px;
      }
      flex: 2.25;
      .link {
        &:not(:last-of-type) {
          margin-right: 33px;
        }
        a {
          text-decoration: none;
          font-size: 14px;
          font-family: "FiraSans-Bold";
          color: #ababab;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.714;
          letter-spacing: 0.1em;
          transition: all 0.3s;
          &:hover {
            color: rgb(214, 186, 141);
          }
        }
      }
    }
    .subscribe {
      height: 40px;
      margin-top: 0px;
      @include at-lg {
        margin-top: 75px;
      }
      padding: 0 18px;
      border: 2px solid #696969;
      font-size: 14px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "FiraSans-Bold";
      color: rgb(171, 171, 171);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      & > *:not(:last-child) {
        margin-right: 11px;
      }
    }
  }
  .line {
    border-bottom: 1px solid #2b2b2b;
  }
  &__group-2 {
    min-height: 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    & > *:not(:last-child) {
      margin-right: 30px;
    }
    .copy-right {
      margin-top: 40px;
      font-size: 14px;
      font-family: "FiraSans";
      color: rgb(105, 105, 105);
      line-height: 2;
      text-align: left;
      letter-spacing: 0;
    }
    .socials {
      display: flex;
      margin-top: 30px;
      margin-right: 1px;
      flex-wrap: wrap;
      row-gap: 9px;
      a.social {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border: 2px solid #4e4e4e;
        border-radius: 50%;
        text-decoration: none;
        transition: all 0.3s;
        &:not(:last-of-type) {
          margin-right: 9px;
        }
        i {
          font-size: 16px;
          transition: all 0.3s;
          color: rgb(171, 171, 171);
        }
        &:hover {
          background-color: #d6ba8d;
          border-color: #d6ba8d;
        }
        &:hover i {
          color: #333333;
        }
      }
    }
  }
}
