.badge {
  background-color: white;
  width: 18px;
  border-radius: 50%;
  height: 18px;
  position: absolute;
  // top and left can be override by parent
  left: 15.312px;
  top: -5px;
  // style text
  display: inline-flex; // scss auto generate -webkit, ...
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Lato";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
}
