.button {
  background-color: #333;
  padding: 15px 29px;
  text-decoration: none;
  display: inline-block;

  // text
  font-size: 16px;
  font-family: "FiraSans-Bold";
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
