.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  row-gap: 30px;
  &.gutter-50 {
    margin-left: -25px;
    margin-right: -25px;
    row-gap: 50px;
    & > * {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &.gutter-xxl-50 {
    @include at-xxl {
      margin-left: -25px;
      margin-right: -25px;
      row-gap: 50px;
      & > * {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

.col-0 {
  display: none;
}

.col-2 {
  display: initial;
  width: calc(100% / 12 * 2);
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  display: initial;
  width: calc(100% / 12 * 3);
  padding-left: 15px;
  padding-right: 15px;
}

.col-4 {
  display: initial;
  width: calc(100% / 12 * 4);
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  display: initial;
  width: calc(100% / 12 * 6);
  padding-left: 15px;
  padding-right: 15px;
}

.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

// AT - SM
.col-sm-0 {
  @include at-sm {
    display: none;
  }
}

.col-sm-2 {
  @include at-sm {
    display: initial;
    width: calc(100% / 12 * 2);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-sm-3 {
  @include at-sm {
    display: initial;
    width: calc(100% / 12 * 3);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-sm-4 {
  @include at-sm {
    display: initial;
    width: calc(100% / 12 * 4);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-sm-6 {
  @include at-sm {
    display: initial;
    width: calc(100% / 12 * 6);
    padding-left: 15px;
    padding-right: 15px;
  }
}

// AT - MD
.col-md-0 {
  @include at-md {
    display: none;
  }
}

.col-md-2 {
  @include at-md {
    display: initial;
    width: calc(100% / 12 * 2);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-md-3 {
  @include at-md {
    display: initial;
    width: calc(100% / 12 * 3);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-md-4 {
  @include at-md {
    display: initial;
    width: calc(100% / 12 * 4);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-md-6 {
  @include at-md {
    display: initial;
    width: calc(100% / 12 * 6);
    padding-left: 15px;
    padding-right: 15px;
  }
}

// AT - LG
.col-lg-0 {
  @include at-lg {
    display: none;
  }
}

.col-lg-2 {
  @include at-lg {
    display: initial;
    width: calc(100% / 12 * 2);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-lg-3 {
  @include at-lg {
    display: initial;
    width: calc(100% / 12 * 3);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-lg-4 {
  @include at-lg {
    display: initial;
    width: calc(100% / 12 * 4);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-lg-6 {
  @include at-lg {
    display: initial;
    width: calc(100% / 12 * 6);
    padding-left: 15px;
    padding-right: 15px;
  }
}
